{:compiler-options {:main "frontend.main"
                    :asset-path "js/main.out"
                    :parallel-build true
                    :preloads [devtools.preload]
                    :external-config {:devtools/config {:features-to-install [:formatters :hints]}}}}
